h1 {
	font-family: 'Clicker Script', cursive;
	font-size: 100;
	font-variant: normal;
	font-weight: normal;
	line-height: 9.px;
}
.topnav {
    background-color: white;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #FA8072;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}
.topnav a:hover {
    background-color: gray;
    color: black;
}

